[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
jellyfish = "*"
pandas = "*"
sklearn = "*"
spacy = "*"
shap = "*"
strsim = "*"
metaphone = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[requires]
python_version = "3.7.2"
